body {
  background-color: #e8e8e8;
}
.brand-logo {
  margin-left: 15px;
  font-family: 'Patrick Hand SC', cursive;
  letter-spacing: .05em;
}
.logo-img {
  width: 25px;
  vertical-align: middle;
}

.items-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-gap: 10px;
  grid-auto-rows: minmax(150px, auto);
  grid-auto-flow: dense;
  padding: 10px;

}

nav {
  background-color: #3079A7;
  background-color: #3D2D2A;
}

.modalItemTypes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 30px;
}

.modalItemTypes a .material-icons {
  font-size: 45px;
  margin: 20px;
}

.modalItemTypes a .material-icons:hover {
  color: #05567d;
}



input {
  border: 2px solid black;
  min-width: 100px;
  min-height: 20px;
}

#url-form {
  border: 2px solid black;
  margin-top: 10px;
  margin-bottom: 5px;
  width: 90%;
  height: 5%;
  padding: 5px;
  border-radius: 5px;

}

.center-me {
  display: grid;
  justify-items: center;
}

.ruler {
    border-top: grey;
}


.btn {
  background-color: #ff6c6c;
}

.btn:hover {
  background-color: #ff4f4f;
}


.twitter-blue {
  background-color: #00aced;
}

.failure-call {
  background-color: #ed002a;
}


.card-action a:hover {
  cursor: pointer;
}

.items-container .card div.card-action a {
  font-size: 15px !important;
  color: #5a5a5a !important;
  margin-right: 10px !important;
}

ul.bulletpoints > li {
  list-style-type: disc;
  margin-left: 3%;
}

.card-bullets {
  margin-left: 5%
}

.card{
  display: flex;
  flex-wrap: wrap;  
  justify-content: space-between;
  flex: 1 1 100%;
}
.card > * {
  flex: 1 1 100%;
  
}
.card img {
  width: 100%;
}
.card-action {
  align-self: flex-end;
  width: 100%;
}

.filters {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 300px;
  margin-top: 25px;
}

.filter-wrapper {
  display: grid;
  justify-items: end;
  margin-right: 15px;
}
.filters span {
  font-weight: 400;
}

.draggable-source--is-dragging {
  opacity: .5;
}
.card.draggable-mirror{
/*  background-color: rebeccapurple !important;*/

}
html body .items-container .card {
background-color: rgb(250, 250, 250);

}

.card span, .card li, card p{
color: black !important;
}
.modal .modal-footer {
text-align: center;
}

.modal-content h4 {
  font-weight: 300;
  text-align: center;
}
@media (min-width: 550px) {
 .modalItemTypes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-top: 30px;
  }  
}

@media only screen and (min-width: 1200px) {
  html {
      font-size: 14.5px;
  }
}
