.brand-logo {
  margin-left: 15px;
}

.items-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-gap: 10px;
  grid-auto-rows: minmax(150px, auto);
  grid-auto-flow: dense;
  padding: 10px;

}

nav {
  background-color: #3079A7;
}

.modalItemTypes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-top: 30px;
}

.modalItemTypes a .material-icons {
  font-size: 45px;
  margin: 20px;
}

.modalItemTypes a .material-icons:hover {
  color: #05567d;
}



input {
  border: 2px solid black;
  min-width: 100px;
  min-height: 20px;
}

#url-form {
  border: 2px solid black;
  margin-top: 10px;
  margin-bottom: 5px;
  width: 90%;
  height: 5%;
  padding: 5px;
  border-radius: 5px;

}

.center-me {
  display: grid;
  justify-items: center;
}

.ruler {
    border-top: grey;
}


.btn {
  background-color: #ff6c6c;
}

.btn:hover {
  background-color: #ff4f4f;
}


.twitter-blue {
  background-color: #00aced;
}

.failure-call {
  background-color: #ed002a;
}

.card-action a:hover {
  cursor: pointer;
}

ul.bulletpoints > li {
  list-style-type: disc;
  margin-left: 3%;
}

.card-bullets {
  margin-left: 5%
}

.card{
  display: flex;
  flex-wrap: wrap;  
  justify-content: space-between;
  flex: 1 1 100%;
}
.card > * {
  flex: 1 1 100%;
  
}
.card img {
  width: 100%;
}
.card-action {
  align-self: flex-end;
  width: 100%;
}

.filters {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 300px;
  margin-top: 25px;
}

.filter-wrapper {
  display: grid;
  justify-items: end;
  margin-right: 15px;
}

.draggable-source--is-dragging {
  opacity: .7;
}
.card.draggable-mirror{
  background-color: rebeccapurple !important;

}
.card {
background-color: #3079A7;
}

@media only screen and (min-width: 1200px) {
  html {
      font-size: 14.5px;
  }
}
